
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FOODTOUR</title>
  <link rel="stylesheet" href="foodtourr.css">
  <link rel="stylesheet" href="bootstrap-grid.css">
</head>
<body>
<header class="narbar">
  <div class="narbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/vechungtoi">Về chúng tôi</a>
      </li>
      <li>
        <a href="/foodtour">Review ẩm thực</a>
      </li>
      <li>
        <a href="/dichvu">24/7</a>
      </li>
      <li>
        <a href="/guidebook">Guiledbook</a>
      </li>
    </ul>
  </div>
  <div class="hero__section">
    <div class="hero__text">
      <h1>FOOD RVIEW</h1>
      <p>Chuyen review nhung loai do an ngon mieng</p>
      <a href="/home" class="btn__dark margin__top">Đặt tour</a>
    </div>
  </div>
</header>
<!-- Recipe__section -->
<div class="recipe__section">
  <div class="container">
    <div class="row recipe__row">
      <div class="col-md-4"> <a href="/foodreview1.html">
        <div class="image__wrapper">
          <img src="../image/first.jpg" alt="">
          <div class="image__wrapper-text">
            <h5>Lunch</h5>
            <p> 9 món ăn ở bãi biển Nha Trang nổi tiếng không thử bạn sẽ hối tiếc</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4"><a href="/foodreview1.html">
        <div class="image__wrapper">
          <img src="../image/cat1.jpg" alt="">
          <div class="image__wrapper-text">
            <h5>Lunch</h5>
            <p> 9 món ăn ở bãi biển Nha Trang nổi tiếng không thử bạn sẽ hối tiếc</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4"><a href="/foodreview1.html">
        <div class="image__wrapper">
          <img src="../image/cat2.jpg" alt="">
          <div class="image__wrapper-text">
            <h5>Lunch</h5>
            <p> 9 món ăn ở bãi biển Nha Trang nổi tiếng không thử bạn sẽ hối tiếc</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4"> <a href="/foodreview1.html">
        <div class="image__wrapper">
          <img src="../image/cat3.jpg" alt="">
          <div class="image__wrapper-text">
            <h5>Lunch</h5>
            <p> 9 món ăn ở bãi biển Nha Trang nổi tiếng không thử bạn sẽ hối tiếc</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4"><a href="Foodreview1.html">
        <div class="image__wrapper">
          <img src="../image/cat4.jpg" alt="">
          <div class="image__wrapper-text">
            <h5>Lunch</h5>
            <p> 9 món ăn ở bãi biển Nha Trang nổi tiếng không thử bạn sẽ hối tiếc</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-4"><a href="/foodreview1.html">
        <div class="image__wrapper">
          <img src="../image/cat5.jpg" alt="">
          <div class="image__wrapper-text">
            <h5>Lunch</h5>
            <p> 9 món ăn ở bãi biển Nha Trang nổi tiếng không thử bạn sẽ hối tiếc</p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
<div class="about__section"></div>
<div class="extra__section"></div>
<div class="subcribe__section"></div>
<!-- -----------Footer------------ -->
<footer class="footer">
  <div class="footer-content">
    <h3>CÔNG TY DU LỊCH</h3>
    <p>Chúng tôi là công ty về du lịch hàng đầu Việt Nam, ở đây chúng tôi sẽ cung cấp đầy đủ những thứ bạn cần</p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.youtube.com/c/AndyNguyen"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 codeOpacity. designed by <span>Quang Vũ</span></p>
  </div>
</footer>
</body>
</html>